@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");


body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; 
  color: #343a40;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#contenedor-encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    height: 9rem;
    width: auto;
}

h1 {
  margin-top: 1.2rem;
}

h2 {
    font-weight: 300;
    margin-bottom: 3rem;
  }

.card {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem; 
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.075);
}

.card-img-top {
  width: 100%; 
  height: auto; 
  max-height: 300px;
  object-fit: cover;
}

.row {
  margin-bottom: 20px; 
}

#total-carrito {
  font-size: 1.25rem; 
  font-weight: bold; 
  margin-bottom: 20px;
}

.btn-danger {
  font-size: 0.875rem; 
  padding: 0.25rem 0.5rem;
}
